/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f9f6f1;
    color: #222;
}

/* NAVBAR */
.navbar {
    width: 100%;
    background: #5b3c30;
    padding: 15px 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 16px;
    letter-spacing: 1px;
}

.navbar .icons span {
    margin-left: 15px;
    cursor: pointer;
}

/* TITLE */
.boutique-title {
    padding: 20px 0;
    text-align:left;
    margin-left: 210px;
}

.boutique-title h2 {
    font-size: 18px;
    letter-spacing: 2px;
    color: #4a1f1f;
}

/* PRODUCT GRID */
.product-grid {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 25px;
    padding-bottom: 50px;
}

.product {
    text-align: center;
}

.product img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 4px;
    background: #ddd;
}

.product .artist {
    font-weight: bold;
    margin-top: 8px;
    font-size: 14px;
}

.product .title {
    font-size: 13px;
    color: #555;
}

footer {
    background-color: #f9f7f4;
    padding: 0 20px;
    text-align: center;
    color: #4a1f1f;
    font-size: 16px;
    line-height: 1.6;
    margin-top: auto;
}

.footer-stripe {
    height: 1px;
    background-color: #4a1f1f;
    margin: 40px auto;
}

.footer-content {
    padding: 40px 0 30px;
}

.footer-logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.footer-content p {
    margin: 5px 0;
}

.footer-owner {
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
}

.footer-newsletter-section {
    margin-top: 40px;
    padding-top: 0;
}

.footer-newsletter-section p {
    margin-bottom: 15px;
}

.footer-newsletter-section a img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    vertical-align: middle;
}

.footer-legal-section {
    margin-top: 20px;
    font-size: 14px;
    color: #6a2e2e;
}

.footer-legal-section p {
    margin: 0;
}

/* Медиа-запросы для адаптивности */
@media (min-width: 768px) {
    .header{
        padding: 20px 0;
    }

    .logo {
        font-size: 36px;
    }

    .menu-icon,
    .search-icon {
        font-size: 30px;
    }

    .search-text {
        font-size: 24px;
    }

    .section-title {
        font-size: 48px;
        margin-bottom: 60px;
    }

    .expositions-content {
        flex-direction: row;
        justify-content: center;
    }

    .exposition-card {
        flex: 1;
        max-width: 45%;
    }

    footer {
        padding: 0 20px;
        font-size: 18px;
    }

    .footer-stripe {
        margin: 50px auto;
    }
  }